@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                    <div class="card">
                        @if (product.Image != null)
                        {
                            var base64 = Convert.ToBase64String(product.Image);
                            <img src="data:image/jpeg;base64, @base64" class="card-img-top rounded" />
                        }
                        else
                        {
                            <img src="~/images/product_unavailable.png" height="421" width="302" class="card-img-top rounded" />
                        }

                        <div class="pl-1">
                            <div class="card-body">
                                <p class="card-title h5 text-primary">@product.Title</p>
                                <p class="card-title text-info">by <b>@product.Author</b></p>
                                <span class="text-danger" style="display:block">List Price: <strike><b>@product.ListPrice.ToString("c")</b></strike></span>
                                <span class="text-success">As low as: <b>@product.Price100.ToString("c")</b></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-controller="Product" asp-action="Index" class="btn btn-primary form-control" asp-route-productId="@product.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
